/tdmpc2/logs/*/*/default
*.pickle
*.pkl
/outputs/
/tdmpc2/outputs/
/MTS3/experiments/mobileRobot/conf/data/
/MTS3/experiments/frankaKitchen/conf/data/
/MTS3/sweep_dir/
/MTS3/experiments/hydraulics/
*.json
*.log
*.h5
*.pt
*.pth
*.npz
*.ckpt
*.hdf5
*.wandb
*.out
/.vscode
/.idea
